

body {
	overflow: hidden;
}

.asset-drag-ghost {
	width: 100px;
	height: 100px;
	
}

#menu-bar {
	position: absolute;
	top: 0;
	left: 0px;
	height: 25px;
	width: 100%;

}

#menu-options {
	margin-left: 50px;
}

#menu-options .btn {
	height: 25px; 
	text-align: top;
	border:  0;
	outline: none;
}

#menu-options .btn:focus {
	border:  0;
	border-style: outset;
	outline: none;
	background-color: lightgray;
}

.dropdown:hover .dropdown-menu {
    display: block;
    top: 24px;
    margin-top: 0;
}

#editor-wrap {
	width: 100vw;
	height: 100vh;
}

#canvas-wrap {
	position: absolute;
	top: 25px;
	left: 46px;
	width: 90vw;
	height: auto;
}

#test-wrap{
	width: 90%;
	float: right;
}

#mapman-canvas {
	width: 100%;
	height: 100%;
}

#toolbar-view {
	position: absolute;
	padding: 0;
	top: 25px;
	left: 0;
	float: left;
	width: 50px;
	height: 100%;
}


#tool-panel .btn {
	border: 0;
}

#tool-panel .btn:hover {
	background-color: lightgray !important;
}

#tool-panel .btn:focus {
	border:  0;
	border-style: outset;
	outline: none;
}

#property-menu-wrapper {
	position: absolute;
	right: 0;
	top: 25px;
	left: !important;
	padding: 0;
	margin: 0;
	width: 20%;
	min-width: 300px;
	max-width: 40%;
	height: 100vh;
}

#property-menu-header {

}

#layer-container {
	width: 100%;
	height: 25%;
}

#layer-view {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	--node-height: 25px;
}

#layer-toolbar {
	border: 1px solid gray;
	background-color: #FFFAFA;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
}

#layer-toolbar button {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	float: left;
	padding: 0;
	margin: 0;
	border: 0;
	width: 30px;
	height: 100%;
}

#layer-toolbar input {
	border: 0;
    outline: none;
    padding-left: 5px;
    height: 100%;
    width: calc(100% - 60px);
    background-color: transparent;
}

.layerbtn-visible {
	border: 1px solid black;
	background-image: url('../resources/icon/icon-eye.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: fixed;
	vertical-align: middle;
	text-align: center;
	margin-top: 4px;
	padding: 0;
	right: 5px;
	width: 20px;
	height: 15px;
}


#btn-add-layer {
	background-image: url('../resources/icon/icon-add.png');
}

#btn-add-layer:hover {
	background-image: url('../resources/icon/icon-add.png');
	background-color: lightgreen;
}

#btn-remove-layer {
	background-image: url('../resources/icon/icon-trash.png');
}

#btn-remove-layer:hover {
	background-color: red;
}

#property-tabs {
	height: 100%;
}

#screenview-list {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

/*------------- GENERAL ----------- */

.mapman-header {
	border-bottom: 1px solid #bdbdbd;
	background-color: #ededed;
	width: 100%;
	height: 25px;
	padding-top: 2px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
}

.modal {
	display: none;
	width: 500px;
	height: 500px;
	overflow: hidden;
	padding: 0;
}

#preference-menu {
	padding: 0;
	width: 600px;
	height: 300px;
	overflow: hidden !important; 
}

#preference-tabs {
	padding: 0;
	margin: 0;
	width: 600px;
	height: 300px;
}

#preference-tabs .input-group-addon {
	min-width: 100px;
	text-align:left;
}


/*------------- WORLD TAB ----------- */

#world-table {
	margin-top: 5px;
	width: 100%;
}

#world-table input span {
	float: left;
}

/*------------- OBJECT TAB ----------- */

.input-group {
	padding-bottom: 5px;
}

#object-param-panel {
	width: 100%;
	min-height: 200px;
}


#object-param-panel parameter-view {
	width: 100%;
	min-height: 200px;
}

#object-table {
	margin-top: 5px;
	text-align: right;
	width: 100%;
}

#object-table input span {
	float: left;
}


#object-table .left-cell {
	vertical-align: top;
	padding-top: 5px;
	padding-right: 5px;
	width: 75%;
}

#object-table .right-cell {
	width: 25%;
}

#object-table .full-cell {
	column-span: 2;
}

#texture-preview {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px; 
	height: 100px; 
	border: 1px solid gray;
}

#object-param-list {
	float: left;
	padding-left: 0; 
	width: 100%;
	height: 100%;
}

.item-param {
	list-style-type: none;
	border-bottom: 1px solid gray;
	background-color: white;
	text-align: left;
	width: 100%;
	height: 25px;
}

.item-param .item-label {
	width: 75px;
	height: 100%;
	background-color: #e4e4e4;
	border-right: 1px solid #c6c6c6;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	padding-top: 2px;
}

.item-param button {
	width: 30px;
	height: 100%;
	background-image: url('../resources/icon/icon-link.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #e4e4e4;
	border-style: none;
	border-left: 1px solid gray;
	outline: none;
}

.item-param input {
	height: 100%;
	width: calc(100% - 105px);
	background-color: transparent;
	border: 0;
}

.item-param button:hover {
	background-color: white;
}

.item-param:hover {
	background-color: #e9e9e9;
}

/*------------- PROPERTY TABS ----------- */

#tabview-wrapper {
	position: absolute;
	bottom: 25px;
	margin-top: 25px;
	width: 100%;
	height: calc(70% + 25px);
}

#property-tabs .tab-container {
	padding: 0;
	margin: 0;
	width: 100%;
	height: calc(100% - 40px);
}

#property-tabs .panel {
	height: 100%;
}

/*------------- PROPERTY GRID----------- */

#prop-grid {
	width: 100%;
	height: calc(100% - 50px);
}
 
/*------------- jquery shit ------------------------*/

.ui-dialog .ui-dialog-content {
	overflow: hidden;
    padding: 0;
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 0 !important;
	margin: 0 !important;
}

/*------------- jquery vertical tabs --------------- */
/* Found here: http://jsfiddle.net/tj_vantoll/nn2Qw/ */
/*---------------------------------------------------*/

.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 42em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    height: 100%;
    background: #CCC;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}

/*------------- MISC ------------------ */

ul {
	list-style-type: none;
}

.ui-draggable-helper {

	pointer-events: none !important;
	background-color: #00ff00;

}

* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.icon-grid {
	background-image: url('../resources/icon/icon-grid.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}

.icon-scale {
	background-image: url('../resources/icon/icon-scale.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}

.icon-origin {
	background-image: url('../resources/icon/icon-origin.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}

.icon-world {
	background-image: url('../resources/icon/icon-world.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}

.icon-list {
	background-image: url('../resources/icon/icon-list.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}

.icon-object {
	background-image: url('../resources/icon/icon-object.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}


.icon-rotate {
	background-image: url('../resources/icon/icon-rotate.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}

.icon-add {
	background-image: url('../resources/icon/icon-add.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}

.icon-key {
	background-image: url('../resources/icon/icon-key.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}

.icon-image {
	background-image: url('../resources/icon/icon-image.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}

.icon-link {
	background-image: url('../resources/icon/icon-link.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}

.icon-frame {
	background-image: url('../resources/icon/icon-frame.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	display: inline; 
}