<template id="asset-preview">
  <style>
  :host {
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px; 
    height: 100px; 
    border: 1px solid gray;
  }
  </style>
</template>

<script>

class AssetPreview extends HTMLElement {
    constructor() {
      super(); // always call super() first in the ctor.
     
      const link = document.querySelector('#asset-preview-import');
      const template = link.import.querySelector('#asset-preview');
      const instance = template.content.cloneNode(true);
      let shadowRoot = this.attachShadow({mode: 'open'});
          shadowRoot.appendChild(instance);

      this.events = new EventManager();

      this.addEventListener('drop', e => {
        e.preventDefault();

        this.events.trigger('nodeDropped', e.dataTransfer.getData('text'));

      });

    }

    set image(path){
      this.style.backgroundImage = 'url(' + path + ')';
    }

}

customElements.define('asset-preview', AssetPreview);

</script>