<link rel="import" href="base/sortable-list.html" id="sortable-import">
<link rel="import" href="base/editor-input.html" id="editor-input-import">

<template id="property-view">
  <style>
    :host {
      display: flex;
    }

    #container {
      border: 1px solid gray;
      width: 100%;
      height: 100%;
      padding: 5px;
    }

    #property-input {
      width: calc(100% - 5px);
      margin: 0;
    }

    sortable-list {
      height: calc(100% - 45px);
    }

  </style>
    <div id="container">
      <input id="property-input" placeholder="Enter property...">
    </div>
</template>
  
<script>

//Custom list item element
class PropertyView extends HTMLElement {
  constructor() {
    super(); // always call super() first in the ctor.
   
    const link = document.querySelector('#property-view-import');
    const template = link.import.querySelector('#property-view');
    const instance = template.content.cloneNode(true);
    let shadowRoot = this.attachShadow({mode: 'open'});
        shadowRoot.appendChild(instance);

    this.events = new EventManager();
    this.list = new SortableList();
    this.items = new Map();
    this.input = shadowRoot.getElementById('property-input');

    var container = shadowRoot.getElementById('container');
        container.appendChild(this.list);
    
    this.input.addEventListener('change', e => {

      this.events.trigger('propertyEntered', this.input.value.replace(/\s/g,'') );
      this.input.value = '';

    });

  }

  clear(){
    this.list.clear(); //clear sortable list
    this.items.clear(); //clear item map
  }

  add(name, value, meta){
    if (this.items.has(name)) //Do nothing if a property with the given name already exists
        return;

    // Build our component
    //------------------------------------------------//
    var input = new EditorInput(name, this.format(meta.type || 'text', value), meta);
    var li = this.list.addItem(name, {
      selectable: meta.editable || true,
      children: [input]
    });
    //------------------------------------------------//

    //Edit event is triggered by both a 'change' and 'input' event
    input.addEventListener('edited', e => {
      this.events.trigger('propertyEdited', name, input.value);
    });

    this.items.set(name, { li: li, input: input });
  }

  addAll(object){
    for (var name in object){
      this.add(name, object[name].value, object[name].meta);
    }
  }

  set(name, value){
    if (this.items.has(name)){
      var input = this.items.get(name).input;
          input.value = this.format(input.type, value);
    }
  }

  setAll(object){
    for (var name in object){
      this.set(name, object[name].value);
    }
  }

  format(inputType, value){

    switch (inputType){
      case 'color':
          if (typeof value === 'number'){
            var rgb = this.numberToColor(value);
              value = this.rgbToHex(rgb[0], rgb[1], rgb[2]);
          }
        break;
      case 'select-one':
      case 'select':
      case 'option':
          //Nothing to format here at the moment
        break;
    }

    return value;
  }

  numberToColor(num) {
      num >>>= 0;
      var b = num & 0xFF,
          g = (num & 0xFF00) >>> 8,
          r = (num & 0xFF0000) >>> 16,
          a = ( (num & 0xFF000000) >>> 24 ) / 255 ;
      return [r, g, b, a];
  }
  
  //This method was borrowed from here: http://stackoverflow.com/questions/5623838/rgb-to-hex-and-hex-to-rgb
  rgbToHex(r, g, b) {
      return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
  }

}

customElements.define('property-view', PropertyView);

</script>