<template id="editor-input">
  <style>

    :host {
      display: flex;
      width: 100%;
    }

    span {
      display: inline-block;
      border-right: 1px solid gray;
      width: 25%;
      height: 100%;
      padding-left: 5px;
      text-align: left;
      vertical-align: middle;
    }

    input {
      float: left;
      padding-left: 5px;
      width: 75%;
      height: auto;
      background-color: transparent;
      border: 0;
    }

  </style>
    <span id="label"></span>
    <input id="input">
</template>

<script>

//Custom list item element
class EditorInput extends HTMLElement {
  constructor(label, value, options) {
    super(); // always call super() first in the ctor.
   
    const link = document.querySelector('#editor-input-import');
    const template = link.import.querySelector('#editor-input');
    const instance = template.content.cloneNode(true);
    let shadowRoot = this.attachShadow({mode: 'open'});
        shadowRoot.appendChild(instance);

    var options = options || {};

    this.label = shadowRoot.getElementById('label');
    this.label.innerHTML = label || '';

    this.input = shadowRoot.getElementById('input');
    this.input.value = value || '';

    this._applyOptions(options);
  }

  set value(value){
    this.input.value = value;
  }

  get value(){
    return this.input.value;
  }

  _applyOptions(options){
    for (var op in options){
      if (op in this.input)
        this.input[op] = options[op];
      else if (op in this.input.style)
        this.input.style[op] = options[op];
    }
  }
  
}

customElements.define('editor-input', EditorInput);

</script>

<template id="editor-select">
  <style>

    :host {
      display: flex;
      width: 100%;
    }

    span {
      display: inline-block;
      border-right: 1px solid gray;
      width: 25%;
      height: 100%;
      padding-left: 5px;
      text-align: left;
      vertical-align: middle;
    }

    select {
      float: left;
      padding-left: 5px;
      width: 75%;
      height: auto;
      background-color: transparent;
      border: 0;
    }

  </style>
    <span id="label"></span>
    <select id="select"></select>
</template>

<script>

//Custom list item element
class EditorSelect extends HTMLElement {
  constructor(label, value, meta) {
    super(); // always call super() first in the ctor.
   
    const link = document.querySelector('#editor-input-import');
    const template = link.import.querySelector('#editor-select');
    const instance = template.content.cloneNode(true);
    let shadowRoot = this.attachShadow({mode: 'open'});
        shadowRoot.appendChild(instance);

    var meta = meta || {};
        meta.options = meta.options || [];

    this.label = shadowRoot.getElementById('label');
    this.label.innerHTML = label || '';

    this.select = shadowRoot.getElementById('select');
    this.select.value = value || 0;

    this.addSelections(meta.options);
  }

  set value(value){
    this.select.value = value;
  }

  get value(){
    return this.select.value;
  }

  addSelections(options){
    for (let i = 0; i < options.length; i++){
      var option = document.createElement('option');

        if (options[i] !== null && typeof options[i] === 'object'){
          option.innerHTML = options[i].name;
          option.value = options[i].value;
        } else {
          option.innerHTML = options[i];
          option.value = options[i];
        }

      this.select.appendChild(option);
    }
  }

}

customElements.define('editor-select', EditorSelect);

</script>